body{
    background-image: url('https://cs4.gtaall.net/screenshots/d9802/2015-12/original/d15b4dc86a4ae01f97b32302d5202ac62c48c7a6/314019-GTA5-2015-12-31-10-34-10-72.jpg') ;
    color:#000000;
    height: 100vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    font-family:gtav;
   
}
.contenedor{
    display:flex;
    align-items:center;
    flex-direction:column;
  
}
.operaciones{
    display:flex;
    align-items:center;
    flex-direction:row;
    gap: 5px;
}
@font-face{
  font-family:gtav;
  src: url(/fuente2/primera.otf);
}
h1{
  background:transparent;
    transition: all 0.3s ease;
   border-radius:20px;
   font-family:gtav;
    color:rgb(0, 0, 0);
    font-size:50px;
}
.grupo{
  font-family:gtav;
    display:flex;
    justify-content:flex-start;
    gap:10px;
    height:35px;
    margin-bottom: 35px;
}
.grupo label, button{
    width:100%;
    font-size:20px;
    font-weight:bold;
}
.grupo button{
  font-family:gtav;
     background: rgb(0, 0, 0);
    box-shadow: -7px -7px 20px 0px rgba(0, 0, 0, 0.9),
      -4px -4px 5px 0px rgba(0, 0, 0, 0.9),
      7px 7px 20px 0px rgb(0, 0, 0), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
   border-radius:100px;
    margin:50px;
    color:rgb(0, 0, 0);
   
    height:45px;
    background:transparent;
    cursor: pointer;
    transition: .5s ease-in-out;  
    width: 500px;
    
}
.grupo input{
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: rgb(0, 0, 0);
  box-shadow: -7px -7px 20px 0px rgba(0, 0, 0, 0.9),
    -4px -4px 5px 0px rgba(0, 0, 0, 0.9),
    7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
transition: all 0.3s ease;
  border-radius: 7px;
  font-size:25px;
  padding: 25px;
}
textarea{
    box-shadow: -7px -7px 20px 0px rgba(1, 1, 1, 0.9),
  -4px -4px 5px 0px rgba(0, 0, 0, 0.9),
  7px 7px 20px 0px rgb(0, 0, 0), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
    margin-top:-12px;
    width:1790px;
    border-radius: 100px;
    padding: 5px;
    font-size:30px;
    color:#000000;
    font-weight:bold;
    margin-left: 13px;
    font-family:gtav;
    
}